<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mycompany.rendashop" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <application
    android:label="Renda Shop"
    tools:replace="android:label"
    android:icon="@mipmap/ic_launcher"
    android:requestLegacyExternalStorage="true"
  >
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
      <!-- Tema inicial enquanto o Flutter renderiza -->
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
      <!-- Splash screen -->
      <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="@drawable/launch_background"/>
      <!-- Atalho padrão (launcher) -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- Habilita suporte a deep links no Flutter -->
      <meta-data android:name="flutter_deeplinking_enabled" android:value="true"/>
      <!-- App Links do domínio rendashop.com.br -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <!-- domínio raiz -->
        <data android:scheme="https" android:host="rendashop.com.br" android:pathPrefix="/paginaProdutoafl"/>
        <!-- www também (opcional, mas recomendado) -->
        <data android:scheme="https" android:host="www.rendashop.com.br" android:pathPrefix="/paginaProdutoafl"/>
      </intent-filter>
    </activity>
    <!-- Obrigatório pro Flutter -->
    <meta-data android:name="flutterEmbedding" android:value="2"/>
  </application>
</manifest>